{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block main %}

    <div class="mb-16">
        <button onclick="addQuestion();" class="btn btn-primary">Add</button>
        <button type="submit" form="form_0" class="btn btn-primary">Submit</button>
    </div>

    <br/>
    <form class="mt-16" id="form_0" method="post">
        <div class="form-group">
            <input type="text" class="form-control mb-8" id="category" name="category" placeholder="Name of your list">
        </div>
        <div id="items"></div>
    </form>

    {% if lists %}
            <table class="table">
        <thead>
        <tr>
            <th class="col-lg-md-sm-6" scope="col">Description</th>
            <th class="col-lg-sm-3" scope="col">Length</th>
            <th class="col-lg-sm-3" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for row in lists %}
            <tr>
                <td>{{ row["cat_name"] }}</td>
                <td>{{ row["len"] }}</td>
                <td>
                    <div class="right">
                        <a class="btn btn-primary" href="/lists/view?id={{ row["id"] }}">View</a>
                    </div>
                </td>
                <!--
                <td>
                    <a class="btn btn-danger" href="/lists/delete?id={{ row["id"] }}">Delete</a>
                </td>
                -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <script src="static/lists.js"></script>
{% endblock %}