{% extends "layout.html" %}

{% block title %}
    Add Task
{% endblock %}

{% block main %}
    <div>
        <h1>{{ categoryName }}</h1>
        <button type="submit" form="form_add" class="btn btn-primary">Add Item</button>
        <a class="btn btn-primary" href="/lists">Back</a>
    </div>

    <br/>

    <div class="item_add">
        <form class="mt-16" id="form_add" method="post" action="/lists/view/add">
            <div class="form-group">
                <input type="text" class="form-control mb-8" id="newItem" name="newItem" placeholder="New Item"/>
                <input type="hidden" class="form-control mb-8" id="categoryId" name="categoryId" value="{{ categoryId }}">
            </div>
        </form>

    </div>

    {% if items %}
    <ul class="list-group">
    {% for item in items %}
        <li class="list-group-item">
            {{ item["item_name"] }}
            <a class="btn btn-danger right" href="/lists/view/delete?id={{ item["itemId"] }}&cat_id={{ categoryId }}">Delete</a>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

{% endblock %}