{% extends "layout.html" %}

{% block title %}
    NBA player stats
{% endblock %}

{% block sidebar %}
{#    <div class="sidenav">#}
{#        <a href="#">About</a>#}
{#        <a href="#">Services</a>#}
{#        <a href="#">Clients</a>#}
{#        <a href="#">Contact</a>#}
{#    </div>#}
{% endblock %}

{% block main %}
    <div class="alert alert-dark" style="visibility: hidden" id="alerter" role="alert"></div>
    <form>
        <div class="form-group">
            <h2>Total Number of Yahoo API calls used: <span id="usage">{{ usageYahoo }}</span></h2>
            <input autocomplete="off" autofocus class="form-control" name="symbol" id="symbol" placeholder="Enter stock symbol" type="text">
        </div>
    </form>

    <button class="btn btn-primary" onclick="getStatisticsBySymbolName();">Search Symbol</button>
    <br><br>

    <ul class="list-group mt-16" id="list" style="visibility: hidden">
        <li class="list-group-item">
            <b>Symbol: </b>
            <span id="stockSymbol"></span></li>
        <li class="list-group-item">
            <b>Exchange: </b>
            <span id="exchange"></span>
        </li>
        <li class="list-group-item">
            <b>Long name: </b>
            <span id="longName"></span>
        </li>
        <li class="list-group-item">
            <b>EBITDA: </b>
            <span id="ebitdaMarginRaw"></span>
        </li>
        <li class="list-group-item">
            <b>Gross margin: </b>
            <span id="grossMargin"></span>
        </li>
        <li class="list-group-item">
            <b>D/E: </b>
            <span id="debtToEquity"></span>
        </li>
        <li class="list-group-item">
            <b>ROA: </b>
            <span id="returnOnAssets"></span>
        </li>
        <li class="list-group-item">
            <b>FCF: </b>
            <span id="freeCashFlow"></span>
        </li>

        <li class="list-group-item"><span id="keys"></span></li>
    </ul>
    <script src="static/index.js"></script>
{% endblock %}
