{% extends "layout.html" %}

{% block headerScripts %}
    <script src="static/charts.js"></script>
{% endblock %}

{% block title %}
    Yahoo Finance Page
{% endblock %}

{% block main %}
    <div class="alert alert-dark" style="visibility: hidden" id="alerter" role="alert"></div>
    <form>
        <div class="form-group">
            <h2>Total Number of Yahoo API calls used: <span id="usage">{{ usageYahoo }}</span></h2>
            <input autocomplete="off" autofocus class="form-control" name="symbol" id="symbol" placeholder="Enter stock symbol" type="text">
        </div>
    </form>

    <button class="btn btn-primary" onclick="getStatisticsBySymbolName();">Search Symbol</button>
    <br><br>

    <div class="container-fluid" id="list" style="visibility: hidden">
        <div class="row">
            <div class="col-md-5">
                <ul class="list-group mt-16" id="financialStatistics"></ul>
            </div>
            <div class="col-md-7">
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>

    <script src="static/charts.js"></script>
{% endblock %}

{% block footerScripts %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}