{% extends "layout.html" %}

{% block title %}
    NBA player stats
{% endblock %}

{% block sidebar %}
{#    <div class="sidenav">#}
{#        <a href="#">About</a>#}
{#        <a href="#">Services</a>#}
{#        <a href="#">Clients</a>#}
{#        <a href="#">Contact</a>#}
{#    </div>#}
{% endblock %}

{% block main %}
    <form>
        <div class="form-group">
            <h2>Total Number of Yahoo API calls used: <span id="usage">{{ usageYahoo }}</span></h2>
            <input autocomplete="off" autofocus class="form-control" name="symbol" id="symbol" placeholder="Enter stock symbol" type="text">
        </div>
    </form>

    <button class="btn btn-primary" onclick="getAllUsersFromDb();">All Users</button>
    <button class="btn btn-primary" onclick="getStatisticsBySymbolName();">Search Symbol</button>

    <ul class="list-group">
        <li class="list-group-item"><span id="stockSymbol"></span></li>
        <li class="list-group-item"><span id="exchange"></span></li>
        <li class="list-group-item"><span id="longName"></span></li>
        <li class="list-group-item"><span id="keys"></span></li>
    </ul>

    <script src="static/index.js"></script>
{% endblock %}
