{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block main %}
    <div class="mb-16">
        <button onclick="addQuestion();" class="btn btn-primary">Add</button>
        <button onclick="sleeper();" type="submit" form="form_0" class="btn btn-primary">Submit</button>
    </div>
    <br/>
    <form class="mt-16" id="form_0" method="post">
        <div class="form-group">
            <input type="text" class="form-control mb-8" id="category" name="category" placeholder="Name of your list">
        </div>
        <div id="items"></div>
    </form>

    {{ lists }}

    <script src="static/test.js"></script>
{% endblock %}