{% extends "layout.html" %}

{% block title %}
    Yahoo Finance Page
{% endblock %}

{% block headerScripts %}
    <link href="/static/table.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}

    {% if data %}
        <div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    {% for name in keyNames %}
                        <th scope="col"><small>{{ name }}</small></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for key in keys %}
                            <td>
                            {%  if row[key]["raw"] or row[key]["raw"] == 0 %}
                                {{ row[key]["fmt"] }}

                                {% if row[key]["multiple"] %}
                                    <span style="color:darkred">
                                        ({{ row[key]["multiple"] }})
                                    </span>
                                {% endif %}

                            {% else %}
                                {{ row[key] }}
                            {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    {% endif %}

{% endblock %}