{% extends "layout.html" %}

{% block title %}
    Yahoo Finance Page
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if data %}
                    <ul class="list-group">
                    {% for row in data %}
                        <li class="list-group-item">
                            <h4>{{ row["symbol"] }}</h4>
                            {{ row }}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}