{% extends "layout.html" %}

{% block title %}
    Yahoo Finance Page
{% endblock %}

{% block main %}
    <div class="alert alert-dark" style="visibility: hidden" id="alerter" role="alert"></div>
    <div class="form-group">
    <form action="/multiples/get-data" method="post">
        <select multiple="multiple" class="form-control" id="groups-chosen" name="groups-chosen">

            {% for category in categories %}
                <option value="{{ category["id"] }}">{{ category["cat_name"] }}</option>
            {% endfor %}
        </select>
        <br><br>

        <button class="btn btn-primary" type="submit" >Multiples</button>
    </form>
    </div>

{#    <button onclick="onButtonClicked()" class="btn btn-primary" >FE</button>#}

    <div class="container-fluid" id="list" style="visibility: hidden">
        <div class="row"></div>
    </div>

    <script src="static/table.js"></script>
{% endblock %}