{% extends "layout.html" %}

{% block title %}
    NBA player stats
{% endblock %}

{% block main %}
    <form>
        <div class="form-group"">
            <input autocomplete="off" autofocus class="form-control" name="player_key" id="player_key" placeholder="Enter player lastname" type="text">
        </div>

        <div id="target"></div>

    </form>

    <button class="btn btn-primary" onclick="getAllUsersFromDb();">Search</button>

    <script src="static/nbaIndex.js"></script>
{% endblock %}