{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th class="col-lg-md-sm-7" scope="col">Description</th>
            <th class="col-lg-sm-3" scope="col">Date</th>
            <th class="col-lg-sm-1" scope="col"></th>
            <th class="col-lg-sm-1" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row["description"] }}</td>
                <td>{{ row["created_at"] }}</td>
                <td>
                    <a class="btn btn-primary" href="/delete?id={{ row["id"] }}">
                        Delete
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" href="/edit?id={{ row["id"] }}">
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}